# Angular
front/node_modules/
front/dist/

# .NET
back/**/bin/
back/**/obj/

# SQLite
back/**/*.db

# OS
.DS_Store

# Fichiers de build
bin/
obj/

# Base de données locale
*.db

# Fichiers secrets
*.user
*.vs

*.dll
*.pdb